<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>INDatePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB2130DF1D4C1FBF000689C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2130F81D4C1FBF000689C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2131031D4C1FBF000689C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
